.navbar-size {
    width: 100%;
    padding: 0 1.3% 0 1.3%;
    margin: 0 auto;
    background-color: #002bec;
}

.click-me-button {
    background-color: #002bec;
    margin-top: 50px;
}

/* Bg Video / Main */
.main-body {
    color: rgb(26, 26, 26);
    font-weight: 600;
    height: calc(100vh - 64px);
}

#bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: opacity(87%);
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

/* User Avatar */
.user-image {
    max-width: 60px;
    max-height: 60px;
}


/* CardList  */
/* Card Img */
.activator {
    width: 260px;
    height: 260px;
}

#card-section {
    margin-top: 3%;
}

/* Card Reveal */
#card-section p {
    color: black;
}

/* position the dog title in correct position */
.card .card-content .card-title {
    display: inline;
}

/* Close button inside card reveal */
i.right {
    margin-top: 3.5%;
}

/* Link to website about dogs */
#card-section a {
    color: black;
}

#card-section a:hover {
    color: blue;
}